
@using FinanceApp.Enums
@model FinanceApp.Models.MonthlyBudget

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Monthly Budget</h4>
<hr />

<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="UserId" />
    <div class="form-group">
        <label asp-for="Amount" class="control-label"></label>
        <input asp-for="Amount" class="form-control" value="@(Model.Amount == 0 ? "0.00" : Model.Amount.ToString())" />
        <span asp-validation-for="Amount" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Category" class="control-label"></label>
        <select asp-for="Category" class="form-control" asp-items="Html.GetEnumSelectList<TransactionSubType>()">
            <option selected="selected" value="">Choose a Category</option>
        </select>
        <span asp-validation-for="Category" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    </div>
</form>

