@{
    ViewData["Title"] = "Email Sent";
}

<div class="jumbotron">
    <h1>Email Sent</h1>
    <p class="lead">A confirmation email has been sent to your email address. Please check your inbox and click on the confirmation link to complete the registration process.</p>
    <p><a class="btn btn-primary btn-lg" href="/">Back to Home</a></p>
</div>
